body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(64, 81, 78);
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 2rem;
    color: rgb(102, 191, 191);
}

h2 {
    font-size: 1.5rem;
    color: rgb(102, 191, 191);
}

p {
    margin-bottom: 50px;
    color: rgb(64, 81, 78);
    font-size: 1rem;
}

ul {
    margin-bottom: 50px;
    font-size: 18px;
    padding: 0;
    list-style-type: none;
}
.skills li {
    text-transform: uppercase;
}

.social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
    padding-top: 40px;
}
.social-list li {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.social-list img {
    width: 30px;
    aspect-ratio: 1;
    padding: 5px;
    box-shadow: 0 0 2px #000;
    /* border: 2px solid #000; */
    border-radius: 15%;
}

li {
    margin-bottom: 10px;
}

button {
    display: block;
    margin: 40px auto;
    padding: 10px 20px;
    background-color: rgb(102, 191, 191);
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    border: none;
    border-radius: 999px;
    cursor: pointer;
}
button:hover {
    background-color: color-mix(in srgb, rgb(102, 191, 191) 90%, rgb(0, 0, 0, 0.5) 50%);
    transition: background-color 300ms ease-in-out;
}

a {
    color: rgb(64, 81, 78);
    font-size: 20px;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a img:hover {
    transform: scale(1.09);
    transition: transform 200ms ease-in-out;
}

#contentSection {
    display: none;
}